<h3><img src="../img/icon48.png">
 About Nuke Your Tracks</h3> 
<div id="overview" class="span5"><h4>Overview</h4>

	<p><i>Welcome!</i> Nuke Your Tracks allows you to delete your browsing data in 
		one click of a button!</p>
		 <ul>
		<li>To begin, <a class="label label-info" href="#/settings">go to the options</a> page by right clicking on the Nuke Your Tracks icon and clicking options. </li>
			<li>You can then select the type of browsing data you would like Nuke Your Tracks to remove. </li>
			<li>To activate Nuke Your Tracks, click on the Nuke Your Tracks icon on the extension menu. All of the browsing data you have selected from the options menu
				will be automatically deleted.</li>
		</ul>
	<br/>
</div>
		<img class="span3 img-polaroid " src="../img/options_ss.png" />

<div class="span5">
<h4>License</h4>
<p> This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.</p>

    <p>This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.</p>

    <p>You should have received a copy of the GNU General Public License
    along with this program.  If not, see http://www.gnu.org/licenses/</p>
</div>