<h3> Changelog</h3>
<div class="accordion">
	<div class="accordion-group">
		<div class="accordion-heading">
      	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">1.3.3.3</a>
      	</div>
		<div class="accordion-content">
			<ul>
				<li>Notifications are less verbose</li>
				<li>Styling changes to options page</li>
		</div>
	</div>
1.3.3.1 
	- Issues with icons not appearing on notification bar fixed
	- options.html now displays changelog

1.3.3
	- Notifcations now appear when Nuke Your Track is activated
	- Removed redundant CSS styling
	
1.3.2.3
	- Fixed issues with the manifest json

1.3.2.2
	- Welcome page keeps popping up on Chrome startup

1.3.2 
	- Fixed an issue with save button failing to trigger

1.3.1
	- Quick bug fix

1.3 
	- New options page
	- New welcome page
	- Clicking on the extension icon will activate the cleaning process
	- Minor bug fixes

1.2
	- Minor bug fixes

1.1
	- Delete Cookies, cache, history, and many other data in one click
Have fun! ;-)
</div>