<h3> Changelog</h3>
<div class="accordion">
       
        <h3>1.4.5 </h3>
        <div>
      <ul>
        <li>Disabled opening extension tab on new update/install. Clicking on notification now opens the tab</li>
        <li>CSS layout changes</li>
        <li>Added option to select all items to be cleaned</li>
      </ul>
    </div>	     
      	<h3>1.4 </h3>
   			<div>
			<ul>
				<li>Save button removed. Options are autmatically saved upon selection.</li>
				<li>App completely written using Angular.js, jQuery, and Twitter Bootstrap.</li>
				<li>Major alterations to the way the cleaning process was executed.</li>
				<li>New styling for options pages.</li>
				<li>New logo</li>
			</ul>
		</div>
	
      	<h3>1.3.3.3</h3>
   			<div>
			<ul>
				<li>Notifications are less verbose</li>
				<li>Styling changes to options page</li>
			</ul>
		</div>
	
	
      	<h3>1.3.3.1</h3>
   			<div>
			<ul>
				<li>Issues with icons not appearing on notification bar fixed</li>
				<li>options.html now displays changelog</li>
			</ul>
		</div>
	
	
      	<h3>1.3.3</h3>
   			<div>
			<ul>
				<li>Notifcations now appear when Nuke Your Track is activated</li>
				<li>Removed redundant CSS styling</li>
			</ul>
		</div>
	

	
      	<h3>1.3.2.3</h3>
   			<div>
			<ul>
				<li>Fixed issues with the manifest json</li>
			</ul>
		</div>
	

	
      	<h3>1.3.2.2</h3>
   			<div>
			<ul>
				<li>Welcome page keeps popping up on Chrome startup</li>
			</ul>
		</div>
	

	
      	<h3>1.3.2</h3>
   			<div>
			<ul>
				<li>Fixed an issue with save button failing to trigger</li>
			</ul>
		
	</div>

	
      	<h3>1.3.1</h3>
   			<div>
			<ul>
				<li>Quick bug fix</li>
			</ul>
		</div>
	

	
      	<h3>1.3.1</h3>
   			<div>
			<ul>
				<li>New options page</li>
	 			<li>New welcome page</li>
				<li>Clicking on the extension icon will activate the cleaning process</li>
				<li>Minor bug fixes</li>
			</ul>
		</div>

      	<h3>1.2</h3>
   			<div>
			<ul>
				<li>Minor bug fixes</li>
			</ul>
		</div>
	
      	<h3>1.0</h3>
   			<div>
			<ul>
				<li>Delete Cookies, cache, history, and many other data in one click</li>
			</ul>
		</div>
	

Have fun! ;-)
