<div class="span3">
	<h3><i class="icon-eraser "></i> Cleaning settings</h3>
		<fieldset class="">
			<div>
			 	<ul class="settings">
					<li ng-repeat="setting in settings.cleanSettings">
						<label>
						<input 
							type="checkbox" 
							data-toggle="button"
							ng-checked="setting.checked"
							ng-model="setting.checked" 
							ng-click="updateSetting(setting)"
							value="{{ setting.slug }}" 
							class=""
						>
							<span>{{ setting.name }}</span>
						</label>						
					</li>
				</ul>
			</div>

		</fieldset>


</div>		

<div class="span3">

	<h3><i class="icon-gear"></i> Other Settings</h3>

	<div class="control-group">
		<p>Silent cleaning <a href="#" class="tooltip" data-original-title="first tooltip">?</a></p>
		<label class="control-label" ><input type="radio" value="true" ng-model="setting.appSettings.silent"> On</label>
		<label class="control-label" ><input type="radio" value="false" ng-model="setting.appSettings.silent"> Off</label>
	</div>	


</div>